<% @astros.each do |astro|  %>

  <section class="astro<%= astro.id %>">
    <p>Name: <%= astro.name %></p>
    <p>Age: <%= astro.age %><p>
    <p>Job: <%= astro.job %></p>
  </section>
<% end %>
<p>Average Age: <%= @avg_age %></p>
